<a href="https://colab.research.google.com/github/Redwoods/Py/blob/master/py-ml-dl-tf/Colab_2_gDrive.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## How to access to data in Google drive from Colab?

## Access to data in Google drive

1. Load the Drive helper and mount
2. Go to the link and get the authorization code
3. Enter your authorization code

In [0]:
# Load the Drive helper and mount
from google.colab import drive
drive.mount('/content/drive')

# Go to this URL in a browser: your link

# Enter your authorization code:
# ··········
# Mounted at /content/drive

In [2]:
# Check the mounted drive
!ls

drive  sample_data

In [0]:
!ls drive

'My Drive'

### train.csv in My Drive

> Load train.csv in my google drive using the reference, "drive/My Drive/data/train.csv"

<!-- ![colab2gdrive](https://github.com/Redwoods/Py/blob/master/py-basic/images/colab2gdrive.png) -->

<img src="https://github.com/Redwoods/Py/blob/master/py-basic/images/colab2gdrive.png?raw=true" style="width: 50%; height: 50%" />

In [0]:
# Access data that is located in "drive/My Drive/data/train.csv"
import pandas as pd

In [4]:
#read in training data
boston_df = pd.read_csv('drive/My Drive/data/train.csv')

#view data structure
boston_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000